<div
  class="d-flex justify-content-between flex-wrap flex-md nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"
>
  <h1 class="h2">User</h1>
  <div class="btn-toolbar mb-2 mb-md 0">
    <div class="btn-group me-2">
      <button class="btn btn-sm btn-outline-secondary">?</button>
    </div>
  </div>
</div>

<div class="col py-3">
  <div class="row">
    <div class="col">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
          <li class="breadcrumb-item"><a href="/users">Users</a></li>
          <li class="breadcrumb-item active">New User</li>
        </ol>
      </nav>
    </div>
  </div>
</div>

<form action="/users" method="POST">
  <div class="row form-group mb-4">
    <div class="col">
      <label for="username">Username</label>
      <input
        type="text"
        class="form-control"
        id="username"
        name="username"
        value=""
        placeholder="If blank, username will be email address."
      />
    </div>

    <div class="col">
      <label for="password">Password (8 characters min.)</label>
      <input
        type="text"
        class="form-control"
        id="password"
        name="password"
        value=""
        placeholder="Will be hashed when saved."
        required
      />
    </div>
  </div>

  <div class="row form-group mb-4">
    <div class="col">
      <label for="firstname">First Name</label>
      <input
        type="text"
        class="form-control"
        id="firstname"
        name="firstname"
        value=""
        placeholder="First Name"
        required
      />
    </div>

    <div class="col">
      <label for="lastname">Last Name</label>
      <input
        type="text"
        class="form-control"
        id="lastname"
        name="lastname"
        value=""
        placeholder="Last Name"
        required
      />
    </div>
  </div>

  <div class="row form-group mb-4">
    <div class="col">
      <label for="telnum">Telephone</label>
      <input
        type="text"
        class="form-control"
        id="telnum"
        name="telnum"
        value=""
        placeholder="Telephone Number"
        required
      />
    </div>

    <div class="col">
      <label for="emailaddr">Email</label>
      <input
        type="text"
        class="form-control"
        id="emailaddr"
        name="emailaddr"
        value=""
        placeholder="Email Address"
        required
      />
    </div>
  </div>

  <div class="row form-group mb-4">
    <div class="col">
      <label>School:</label>
      <% schools.forEach(school => { %>
        <div class="form-check-inline">
          <input 
            class="form-check-input" 
            type="radio" 
            name="school"
            id="<%=school%>-school" 
            value="<%=school%>" 
            <% if(school === defaults.school) { %> checked <% } %> 
          />
          <label class="form-check-label" for="<%=school%>-school">
            <%= school %>
          </label
          >
        </div>
      <% }) %>
    </div>
  </div>

  <div class="row form-group mb-4">
    <div class="col">
      <label>Grade:</label>
      <% grades.forEach(grade => { %>
        <div class="form-check-inline">
          <input 
            class="form-check-input" 
            type="radio" 
            name="grade"
            id="grade-<%=grade%>" 
            value="<%=grade%>" 
            <% if(grade === defaults.grade) { %> checked <% } %> 
          />
          <label class="form-check-label" for="grade-<%=grade%>">
            <%= grade %>
          </label>
        </div>
      <% }) %>
    </div>
  </div>

  <div class="row form-group mb-4">
    <div class="col">
      <label>Site Role:</label>
      <% roles.forEach(role => { %>
      <div class="form-check-inline">
        <input class="form-check-input" type="radio" name="role"
        id="<%=role%>-role" value="<%=role%>" <% if(role === defaults.role) { %>
        checked <% } %> />
        <label class="form-check-label" for="<%=role%>-role">
          <%= role %></label
        >
      </div>
      <% }) %>
    </div>
  </div>

  <div class="form-group mb-4">
    <label for="details">Notes</label>
    <textarea
      class="form-control"
      name="details"
      id="details"
      cols="30"
      rows="12"
      placeholder="User Notes"
    ></textarea>
  </div>

  <div class="form-group mb-4">
    <button type="submit" class="btn btn-primary">Add User</button>
  </div>
</form>
